<div>
    <button class="btn btn-outline-primary mb-2 me-2 btn-sm" (click)="openModal()">
       Add Task
    </button>
</div>
    

<table class="table table-striped table-bordered">
    <thead class="table-primary">
        <tr>
            <th>Task Name</th>
            <th>Description</th>
            <th>Deadline</th>

        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let t of tasklist">
            <td>{{t.TaskName}}</td>
            <td>{{t.Description}}</td>
            <td>{{t.Deadline | date :'dd/MM/yyyy'}}</td>
        </tr>
    </tbody>
</table>