<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow">
          <div class="card-header text-center text-white" style="background-color: #673ab7;">
            <h4>Forgot Password</h4>
          </div>
          <div class="card-body">
            <form  [formGroup]="forgetPasswordForm" (ngSubmit)="onsubmit()">
              <div class="form-group mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input
                  type="email"
                  id="email"
                  class="form-control"
                  name="email"
                  formControlName="email"
                />
                <div *ngIf="(formSubmitted || forgetPasswordForm.get('email').touched ) && forgetPasswordForm.get('email').invalid">
                  <span *ngIf="forgetPasswordForm.get('email').hasError('required')" class="text-danger">Email is required</span>
                </div>
              </div>
              <div class="form-group mb-3">
                <button type="submit" class="btn btn-primary">Send</button> 
              </div>
            </form>
          </div>
          <div class="card-footer text-center">
            <small><a [routerLink]="['/auth/login']" class="fs-3">Back to Login</a></small>
          </div>
        </div>
      </div>
    </div>
</div>
  