<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="taskForm" (ngSubmit)="saveTask()" >
        <div class="row">
            <div class="col-12 mt-2">
                <label for="taskName">Task Name</label>
                <input type="text" class="form-control" formControlName="taskName" name="taskName" [(ngModel)]="task.TaskName">
            </div>
            <div class="col-12 mt-2">
                <label for="taskDescription">Description</label>
                <input type="text" class="form-control" formControlName="taskDescription" name="taskDescription" [(ngModel)]="task.Description">
            </div>
            <div class="col-12 mt-2">
                <label for="deadline">Task Name</label>
                <input type="date" class="form-control" formControlName="deadline" name="deadline" [(ngModel)]="task.Deadline">
            </div>
            <div class="col-12 d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary" *ngIf="TaskId === 0">Save</button>
                <button type="submit" class="btn btn-primary" *ngIf="TaskId !== 0">Update</button>
            </div>
        </div>
    </form>
</div>