<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
    <form [formGroup]="taskForm" (ngSubmit)="saveTask()">
        <div class="row">
            <div class="col-12 mt-2">
                <label for="taskName">Task Name</label>
                <input type="text" class="form-control" formControlName="taskName" name="taskName"
                    [(ngModel)]="task.TaskName">
                <div *ngIf="(formSubmitted || taskForm.get('taskName').touched )&& taskForm.get('taskName').invalid">
                    <span *ngIf="taskForm.get('taskName').hasError('required')" class="text-danger">Task Name is required</span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="taskDescription">Description</label>
                <input type="text" class="form-control" formControlName="taskDescription" name="taskDescription"
                    [(ngModel)]="task.Description">
                <div *ngIf="(formSubmitted || taskForm.get('taskDescription').touched )&& taskForm.get('taskDescription').invalid">
                    <span *ngIf="taskForm.get('taskDescription').hasError('required')" class="text-danger">Description is required</span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="deadline">Task Name</label>
                <input type="date" class="form-control" formControlName="deadline" name="deadline"
                    >
                <div *ngIf="(formSubmitted || taskForm.get('deadline').touched )&& taskForm.get('deadline').invalid">
                    <span *ngIf="taskForm.get('deadline').hasError('required')" class="text-danger">Deadline is required</span>
                </div>
            </div>
            <div class="col-12 mt-2">
                <label for="priority">Task Priority</label>
                <select class="form-select" aria-label="Default select example" formControlName="priority">
                    <option value="" selected>Select Priority</option>
                    <option value="High">High</option>
                    <option value="Medium">Medium</option>
                    <option value="Low">Low</option>
                </select>
                <div *ngIf="(formSubmitted || taskForm.get('priority').touched )&& taskForm.get('priority').invalid">
                    <span *ngIf="taskForm.get('priority').hasError('required')" class="text-danger">Priority is required</span>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end mt-3">
                <button type="submit" class="btn btn-primary" *ngIf="TaskId === 0">Save</button>
                <button type="submit" class="btn btn-primary" *ngIf="TaskId !== 0">Update</button>
            </div>
        </div>
    </form>
</div>